<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="container card-container">
  <div class=" card-content ">
    <div class="row">
      <div class="col-lg-6 justify-content-end">
        <img src="{{(product)?.imagePath}}" alt="Background" class="col-lg-11" style="float:right;">
      </div>
      <div class="col-lg-6">
        <h1>{{(product)?.title}}</h1>
        <div class="spacer"></div>

        <h5>
          <span class="label">Kategorie: </span>
          <span *ngFor="let category of (product )?.categoriesIds">
          <span>{{category}} | </span>
        </span>
        </h5>

        <h5>
          <span class="label">Wersja językowa: </span>
          <span>{{(product )?.language}}</span>
        </h5>

        <h5>
          <span class="label">Data wydania: </span>
          <span>{{(product )?.releasedAt}}</span>
        </h5>

        <!--<h5>-->
        <!--<span class="label">Popularność: </span>-->
        <!--<span>{{(product )?.popularity}}</span>-->
        <!--</h5>-->

        <div class="spacer-5"></div>
        <div class="spacer-5"></div>

        <h5>{{(product)?.description}}</h5>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>


        <button type="button"
                mat-button
                class="addToFavourite"
                color="accent">
          <mat-icon>favorite_border</mat-icon>
          <span>Dodaj do ulubionych</span>
        </button>
        <button type="button"
                color="accent"
                mat-raised-button
                (click)="onBuyMovie(addToCartButton)"
                color="primary"
                class="addToCart"
                #addToCartButton>
          <!--<mat-icon>add_shopping_cart</mat-icon>-->
          <span>Dodaj do koszyka</span>
        </button>


        <div class="product-likes">
          <button mat-icon-button color="primary">
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>thumb_down</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
