.label {
  color: #757575;
}

h1 {
  font-weight: 600;
}

.addToCart {
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  transform: scale(1.3);
}

.addToFavourite {
  position: absolute;
  bottom: 60px;
}

.product-likes {
  position: absolute;
  top: 0;
  right: 0;
}
