<mat-toolbar color="primary" class="row header">
	<div class="menu_section col">
		<button type="button" uiSref="dashboard" mat-button class="page-logo">
			<mat-icon>theaters</mat-icon>
			<span>LendIt!</span>
		</button>
	</div>

	<!--<div>-->
		<!--<form>-->
			<!--<mat-form-field>-->
				<!--<input type="text"-->
					   <!--placeholder="Type something... "-->
					   <!--aria-label="Number"-->
					   <!--matInput [formControl]="myControl"-->
					   <!--[matAutocomplete]="auto">-->
				<!--<mat-autocomplete #auto="matAutocomplete">-->
					<!--<mat-option *ngFor="let option of filteredOptions | async"  [value]="option">-->
						<!--{{ option }}-->
					<!--</mat-option>-->
				<!--</mat-autocomplete>-->
			<!--</mat-form-field>-->
		<!--</form>-->
	<!--</div>-->




	<!-- After login -->
	<div [hidden]="!(data | async)" class="account_settings">

		<!-- Icons -->
		<button type="button" mat-icon-button>
			<mat-icon>search</mat-icon>
		</button>
		<button type="button" mat-icon-button uiSref="cart">
			<mat-icon>shopping_cart</mat-icon>
		</button>
	<button type="button" mat-icon-button uiSref="favourite">
			<mat-icon>favorite_border</mat-icon>
		</button>
		<button type="button" mat-icon-button uiSref="settings">
			<mat-icon>person_outline</mat-icon>
		</button>
		<button type="button" mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>

		<!-- Person menu -->
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<mat-icon>menu</mat-icon>
				<span>Your items</span>
			</button>
			<button mat-menu-item>
				<mat-icon>history</mat-icon>
				<span>History</span>
			</button>
			<button mat-menu-item uiSref="settings">
				<mat-icon>settings</mat-icon>
				<span>Settings</span>
			</button>
			<button mat-menu-item (click)="logout()">
				<mat-icon>sentiment_very_dissatisfied</mat-icon>
				<span>Logout</span>
			</button>
		</mat-menu>

	</div>

	<!-- Before login -->
	<div [hidden]=" data|async" class="account_settings">

		<button type="button" uiSref="login" mat-button>
			<span>Login</span>
		</button>

		<button type="button" uiSref="registration" mat-raised-button color="accent">
			<span>Registration</span>
		</button>

	</div>

</mat-toolbar>

<!--
<mat-toolbar>
	{{data | async}}
	<button type="button" mat-button uiSref="settings">Settings</button>
</mat-toolbar>
-->
