<div class="col navigationMenu">
	<!--<button mat-button (click)="visible=!visible" type="button">-->
	<!--<mat-icon>menu</mat-icon>-->
	<!--</button>-->

	<div class="row">
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div *ngFor="let category of (categories | async)" class="row col">
			<div *ngIf="category?.id === activeCategory ; then active else unactive"></div>
			<ng-template #active>
				<button mat-button class="categoryButton" color="accent">{{category.name}}</button>
			</ng-template>
			<ng-template #unactive>
				<button mat-button class="categoryButton" (click)="newCategory(category)">{{category.name}}</button>
			</ng-template>
		</div>
	</div>

  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>



