<div class="col navigationMenu">
  <!--<button mat-button (click)="visible=!visible" type="button">-->
    <!--<mat-icon>menu</mat-icon>-->
  <!--</button>-->

  <div [hidden]="visible" class="row">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <button mat-button class="col">Action</button>
    <button mat-button class="col">Adventure</button>
    <button mat-button class="col" color="accent">Animation</button>
    <button mat-button class="col">Comedy</button>
    <button mat-button class="col">Criminal</button>
    <button mat-button class="col">Documentary</button>
    <button mat-button class="col">Dramat</button>
    <button mat-button class="col">Family</button>
    <button mat-button class="col">Fantasy</button>
    <button mat-button class="col">History</button>
    <button mat-button class="col">Horror</button>
    <button mat-button class="col">Music</button>
    <button mat-button class="col">Thriller</button>
    <button mat-button class="col">Sci-Fi</button>
    <button mat-button class="col">War</button>
    <button mat-button class="col">Western</button>
  </div>
</div>


