<!--<div class="col">-->

<!--<button mat-button (click)="visible=!visible" type="button">-->		<!--<mat-icon>menu</mat-icon>-->	<!--</button>-->

<!--<div [hidden]="visible">-->		<!--<button mat-button class="col" focus>Action</button>-->		<!--<button mat-button class="col">Adventure</button>-->		<!--<button mat-button class="col" color="accent">Animation</button>-->		<!--<button mat-button class="col">Comedy</button>-->		<!--<button mat-button class="col">Documentary</button>-->		<!--<button mat-button class="col">Horror</button>-->		<!--<button mat-button class="col">.....</button>-->	<!--</div>--><!--</div>-->


