<div class="content">

	<div class="spacer"></div>
	<div class="spacer"></div>

	<div class="container">
		<mat-card class="col-xl-4 col-lg-5 col-md-6 col-sm-10 mx-auto">

			<form [formGroup]="loginGroup" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
				<h1 class="col">Log in</h1>
				<div class="spacer"></div>
				<mat-input-container class="col">
					<input type="text" matInput formControlName="username" placeholder="Username" ngModel>
					<mat-error *ngIf="loginGroup.get('username')">
						{{ loginGroup.get('username').getError('error') }}
						<div class="spacer-5"></div>
					</mat-error>
				</mat-input-container>
				<mat-input-container class="col">
					<input type="password" matInput formControlName="password" placeholder="Password" ngModel>
					<mat-error *ngIf="loginGroup.get('password')">
						{{ loginGroup.get('password').getError('error') }}
						<div class="spacer-5"></div>
					</mat-error>
					<mat-error *ngIf="loginGroup.get('password').invalid && undefined === loginGroup.get('password').getError('error')">
						Hasło jest puste
						<div class="spacer-5"></div>
					</mat-error>
				</mat-input-container>

				<div class="spacer"></div>

				<div class="col row justify-content-between">
					<mat-checkbox class="col">
						Remember me
					</mat-checkbox>
					<button mat-raised-button color="accent" type="submit" (keyup.enter)="onSubmit(loginForm)">
						<span>Log in</span>
					</button>
				</div>

				<div class="spacer"></div>
				<div class="spacer"></div>
				<div class="col row">
					<div class="mx-auto">
						<span>You not have account?</span>
						<a uiSref="registration">Get start</a>
					</div>
				</div>
			</form>
		</mat-card>

	</div>

</div>

<div class="spacer"></div>