<div class="content">
  <md-toolbar class="header-toolbar row " color="primary">
    <div class="col">
      <button type="button" md-button>
        <md-icon>explore</md-icon>
        <span>LendIt!</span>
      </button>
    </div>

    <button type="button" md-raised-button color="accent">
      <span>Register</span>
    </button>
  </md-toolbar>
  <md-toolbar></md-toolbar>

  <div class="spacer"></div>
  <div class="spacer"></div>

  <div class="container">

    <md-card class="col-xl-4 col-lg-5 col-md-6 col-sm-10 mx-auto">
      <h1 class="col">Log in</h1>
      <md-input-container class="col">
        <input type="text" mdInput placeholder="Name">
      </md-input-container>
      <md-input-container class="col">
        <input type="text" mdInput placeholder="Password">
      </md-input-container>
      <md-input-container class="col">
        <input type="text" mdInput placeholder="Repeat Password">
      </md-input-container>

      <div class="spacer"></div>

      <div class="col row justify-content-between">
        <md-checkbox class="col">
          Zapamiętaj mnie
        </md-checkbox>
        <button md-raised-button color="accent">
          <span>Log in</span>
        </button>
      </div>

      <div class="col row">
        <button md-button color="primary">
          <span>Get start</span>
        </button>
      </div>
    </md-card>

  </div>
</div>
