<div class="spacer"></div>
<div class="container">
  <h3>Koszyk</h3>
  <div class="spacer"></div>

  <div class="col row" *ngFor="let movie of (movies | async)">

    <mat-card class="col">
      <div class="row">
        <div class="col-lg-2">
          <img class="col" mat-card-image src="{{movie.imagePath}}" alt="{{movie.title}}">
        </div>
        <div class="col row">
          <div class="col">
            <div class="spacer"></div>
            <h5 class="col">{{movie.title}}</h5>
          </div>
          <div class="col"></div>
          <div class="col">
            <button mat-icon-button class="delete">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card>

    <div class="spacer-5"></div>
  </div>

  <div class="spacer-5"></div>
  <div class="spacer-5"></div>
  <div class="row justify-content-end" [hidden]="(movies | async).length == 0">
    <div class="col-lg-4">
      <h3 class="col">Suma</h3>
      <div class="spacer-5"></div>
      <div class="spacer-5"></div>
      <button mat-raised-button color="accent">Subscribe!</button>
    </div>
  </div>

  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>
