<!-- HEADER -->
<md-toolbar color="primary" class="row">
  <div class="menu_section col row">
    <button type="button" md-icon-button>
      <md-icon>explore</md-icon>
    </button>
    <p>LendIt!</p>
  </div>
  <div class="account_settings">
    <button type="button" md-icon-button>
      <md-icon>shopping_cart</md-icon>
    </button>
    <button type="button" md-icon-button>
      <md-icon>search</md-icon>
    </button>
    <button type="button" md-icon-button>
      <md-icon>person</md-icon>
    </button>
    <button type="button" md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>menu</md-icon>
        <span>Your items</span>
      </button>
      <button md-menu-item>
        <md-icon>settings</md-icon>
        <span>Settings</span>
      </button>
      <button md-menu-item>
        <md-icon>sentiment_very_dissatisfied</md-icon>
        <span>Logout</span>
      </button>
    </md-menu>
  </div>
</md-toolbar>

<md-toolbar color="primary" class="row col">
  <div class="col-3 mx-auto">
    <button type="button" md-button color="accent">
      <span>Books</span>
    </button>
    <button type="button" md-button>
      <span>Games</span>
    </button>
    <button type="button" md-button>
      <span>Music</span>
    </button>
  </div>
</md-toolbar>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<!-- CONTENT -->
<div class="row col">

  <!-- MENU -->
  <div class="contentMenu col-2">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <button md-button class="col">Action</button>
    <button md-button class="col">Adventure</button>
    <button md-button class="col" color="accent">Animation</button>
    <button md-button class="col">Comedy</button>
    <button md-button class="col">Documentary</button>
    <button md-button class="col">Horror</button>
    <button md-button class="col">.....</button>
  </div>

  <!-- ITEMS -->
  <div class="col">
    <div class="col ">
      <button type="button" md-button>
        <md-icon>filter_list</md-icon>
        <span>Filter</span>
      </button>
    </div>
    <div class="spacer"></div>
    <div class="row col justify-content-around">
      <md-card class="col-lg-2 col-md-5">
        <h1>Elo</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate deserunt dolorem
          molestias
          nihil, placeat quas reprehenderit soluta unde. Accusamus delectus doloribus nisi nostrum obcaecati odit quas
          similique, vel?</p>
      </md-card>
      <md-card class="col-lg-2 col-md-5">
        <h1>Elo</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate deserunt dolorem
          molestias
          nihil, placeat quas reprehenderit soluta unde. Accusamus delectus doloribus nisi nostrum obcaecati odit quas
          similique, vel?</p>
      </md-card>
      <md-card class="col-lg-2 col-md-5">
        <h1>Elo</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate deserunt dolorem
          molestias
          nihil, placeat quas reprehenderit soluta unde. Accusamus delectus doloribus nisi nostrum obcaecati odit quas
          similique, vel?</p>
      </md-card>
      <md-card class="col-lg-2 col-md-5">
        <h1>Elo</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate deserunt dolorem
          molestias
          nihil, placeat quas reprehenderit soluta unde. Accusamus delectus doloribus nisi nostrum obcaecati odit quas
          similique, vel?</p>
      </md-card>
      <md-card class="col-lg-2 col-md-5">
        <h1>Elo</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate deserunt dolorem
          molestias
          nihil, placeat quas reprehenderit soluta unde. Accusamus delectus doloribus nisi nostrum obcaecati odit quas
          similique, vel?</p>
      </md-card>
    </div>
  </div>

</div>
