<div class="col ">
  <button type="button" md-button>
    <md-icon>filter_list</md-icon>
    <span>Filter</span>
  </button>
</div>
<div class="spacer"></div>
<div class="row col justify-content-around">
  <md-card class="col-lg-2 col-md-5">
    <h1>Elo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate deserunt dolorem
      molestias
      nihil, placeat quas reprehenderit soluta unde. Accusamus delectus doloribus nisi nostrum obcaecati odit quas
      similique, vel?</p>
  </md-card>
  <md-card class="col-lg-2 col-md-5">
    <h1>Elo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate deserunt dolorem
      molestias
      nihil, placeat quas reprehenderit soluta unde. Accusamus delectus doloribus nisi nostrum obcaecati odit quas
      similique, vel?</p>
  </md-card>
  <md-card class="col-lg-2 col-md-5">
    <h1>Elo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate deserunt dolorem
      molestias
      nihil, placeat quas reprehenderit soluta unde. Accusamus delectus doloribus nisi nostrum obcaecati odit quas
      similique, vel?</p>
  </md-card>
  <md-card class="col-lg-2 col-md-5">
    <h1>Elo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate deserunt dolorem
      molestias
      nihil, placeat quas reprehenderit soluta unde. Accusamus delectus doloribus nisi nostrum obcaecati odit quas
      similique, vel?</p>
  </md-card>
  <md-card class="col-lg-2 col-md-5">
    <h1>Elo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate deserunt dolorem
      molestias
      nihil, placeat quas reprehenderit soluta unde. Accusamus delectus doloribus nisi nostrum obcaecati odit quas
      similique, vel?</p>
  </md-card>
</div>
