<div class="col">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <button md-button class="col text-lg-right" focus>Action</button>
  <button md-button class="col text-lg-right">Adventure</button>
  <button md-button class="col text-lg-right" color="accent">Animation</button>
  <button md-button class="col text-lg-right">Comedy</button>
  <button md-button class="col text-lg-right">Documentary</button>
  <button md-button class="col text-lg-right">Horror</button>
  <button md-button class="col text-lg-right">.....</button>
</div>

