<div class="spacer"></div>
<div class="container">
	<h3>Settings</h3>

	<mat-accordion class="col">
		<mat-expansion-panel expanded="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Your account
				</mat-panel-title>
				<mat-panel-description class="justify-content-between">
					See and change your data
					<mat-icon>account_circle</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			<mat-list>
				<mat-list-item class="row">
					<p class="col-4">login</p>
					<p class="col-6">{{(user|async)?.username}}</p>
				</mat-list-item>
				<mat-list-item class="row">
					<p class="col-4">password</p>
					<p class="col-6">*********</p>
				</mat-list-item>
				<mat-list-item class="row">
					<p class="col-4">email</p>
					<p class="col-6">{{(user| async)?.email}}</p>
				</mat-list-item>
				<mat-list-item class="row">
					<p class="col-4">picture</p>
					<p class="col-6"></p>
				</mat-list-item>
			</mat-list>
		</mat-expansion-panel>

		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					History
				</mat-panel-title>
				<mat-panel-description class="justify-content-between">
					Orders history
					<mat-icon>history</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
		</mat-expansion-panel>

		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Privacy
				</mat-panel-title>
				<mat-panel-description class="justify-content-between">
					Privacy settings
					<mat-icon>fingerprint</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
		</mat-expansion-panel>

		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Notifications
				</mat-panel-title>
				<mat-panel-description class="justify-content-between">
					Turn on notifications
					<mat-icon>notifications</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
		</mat-expansion-panel>

	</mat-accordion>
</div>

